# Core
python>=3.9

# Deep Learning
torch
torchvision
torchaudio

# Medical Imaging
monai
nibabel

# Image Processing
opencv-python-headless
numpy
scikit-learn

# Visualization
matplotlib
seaborn

# Web App
streamlit

# PDF Reports
fpdf
reportlab

# Utilities
tqdm
pandas
