torch
torchvision
torchaudio
monai

nibabel
pydicom
SimpleITK

opencv-python
scikit-image
Pillow
albumentations

numpy
pandas
scikit-learn
tqdm

matplotlib
seaborn

streamlit
flask

reportlab
fpdf2

python-dotenv

